.leftCont{
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 16px;
}

.imageStyle{
    width: 90%;
    border-radius: 10px;
}

.iconStyle{
    font-size: 28px;
}

.rightCont{
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 16px;
    height: 100%;
}

.docsIcon{
    font-size: 40px;
}

.items{
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    margin-top: 5px;
}

.iconStyleProcess{
    width: 55%;
}

.itemCont{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 16px;;
}
