section.testimonialSection {
  position: relative;
  overflow: hidden;
  background: #f8f9fb;
  padding: 80px 0;
}

/* TOP LEFT CIRCLE */
section.testimonialSection::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: #cbdec9;
  border-radius: 50%;
  top: -150px;
  left: -150px;
  z-index: 0;
}

/* BOTTOM RIGHT CIRCLE */
section.testimonialSection::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: #cbdec9;
  border-radius: 50%;
  bottom: -150px;
  right: -150px;
  z-index: 0;
}

/* make content above circles */
section.testimonialSection .containerContent {
  position: relative;
  z-index: 1;
}


.clamped {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.expanded {
  display: block;
}

.showMore {
  margin-top: 8px;
  background: none;
  border: none;
  color: #104675;
  cursor: pointer;
  font-weight: 600;
  padding: 0;
}

.showMore:hover {
  text-decoration: underline;
}