
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Container */
.nav-div {
    border-bottom: 1px solid #CCCCCC;
}
.nav-container {
  width: 92%;
  margin: 0 auto;
}

/* TOP BAR */
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo img {
  height: 80px;
}

/* BURGER */
.burger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* SOCIALS */
.socials {
  display: flex;
  gap: 40px;
}

/* MENU */
.nav-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* font-family: Montserrat, sans-serif; */
    width: 100%;
    
}

.nav-menu li a {
  text-decoration: none;
  color: #448153;
  font-size: 16px;
  font-weight: 600;
}

.nav-menu li a:hover {
  color: #8F6843;
}

.for-mobile{
    display: none;
}



/* BURGER BASE */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #333;
  transition: 0.3s;
  border-radius: 2px;
}

/* =====================
   ANIMATION TO X
===================== */
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
.forMobile{
    display: none;
}

/* width ng scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* background */
::-webkit-scrollbar-track {
  background: #888;
}

/* scroll thumb (yung gumagalaw) */
::-webkit-scrollbar-thumb {
  background: #448153;
  border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* =====================
   MOBILE ONLY
===================== */
@media (max-width: 768px) {
    
    .nav-menu {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transform: translateY(-10px);
        transition: grid-template-rows 350ms ease, opacity 250ms ease, transform 250ms ease;
    }

    .nav-menu.active {
        max-height: 700px;
        padding: 10px 0;
        transform: translateY(0);
    }

    .nav-menu li {
        margin: 10px 0;
        border-bottom: 1px solid #CCCCCC;
    }
    .burger {
        display: flex;
    }

    .logo img {
        height: 35px;
    }

    .nav-container {
        width: 100%;
    }
    .nav-top {
        flex-wrap: wrap;
        border-bottom: 1px solid #CCCCCC;
    }

    .socials {
        display: none;
        border-bottom: 1px solid #CCCCCC;
    }

    .socials.show {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    

    .logo {
        order: 0;
    }

    .nav-menu {
        order: 3;
    }

    .nav-div{
        border-bottom: none;
    }
    .forMobile{
        display: block;
        margin-left: 10px;
        color: #448153;
        font-weight: 600;
    }

    .forMobile:hover{
        color: #8F6843;
       
    }
    
}


.brand-stripe {
  background: #448153;
  height: 16px;
  display: flex;
}
.brand-stripe.thin {
  height: 8px;
}
.brand-stripe .bar {
  flex: none;
  width: 120px;
  max-width: 20%;
  height: 100%;
}

.bg-accent {
    background-color: #8F6843 !important;
}
.bg-alt {
    background-color: #709C6B !important;
}

.social-icon{
    font-size: 30px;
    color: #448153;
}

.mega-wrapper {
  position: relative;
}

/* dropdown container */
.mega-menu {
  position: absolute;
  top: 60px;
  left: 0;

  width: 420px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
  opacity: 0;
  transform: translateY(15px);
  visibility: hidden;

  transition: all 0.25s ease;
  z-index: 999;
}

/* show animation */
.mega-menu.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* triangle arrow */
.mega-arrow {
  position: absolute;
  top: -8px;
  left: 40px;
  width: 16px;
  height: 16px;
  background: white;
  transform: rotate(45deg);
  box-shadow: -2px -2px 5px rgba(0,0,0,0.05);
}

/* grid layout */
.mega-grid {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 12px;
}

/* item */
.mega-item {
  display: flex;
  gap: 12px;
  align-items: flex-start;

  text-decoration: none;
  padding: 10px;
  border-radius: 10px;

  transition: 0.2s;
}

.mega-item:hover {
  background: #f5f7ff;
}

.mega-item .icon {
  font-size: 22px;
  color: #1d4ed8;
  margin-top: 3px;
}

.mega-item h4 {
  margin: 0;
  font-size: 14px;
  color: #0f172a;
}

.mega-item p {
  margin: 2px 0 0;
  font-size: 12px;
  color: #64748b;
}


.mobile-dropdown-header {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  cursor: pointer;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
}

.mobile-dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, padding 0.35s ease;
  padding: 0 10px;
}

.mobile-dropdown.open {
  max-height: 500px;
  padding: 10px;
}

/* mobile item like screenshot */
.mobile-item {
  display: flex;
  gap: 12px;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.mobile-item .icon {
  font-size: 20px;
  color: #1d4ed8;
}

.mobile-item h4 {
  margin: 0;
  font-size: 14px;
}

.mobile-item p {
  margin: 2px 0 0;
  font-size: 12px;
  color: gray;
}

/* arrow animation */
.arrow {
  transition: transform 0.3s ease;
}

.arrow.up {
  transform: rotate(180deg);
}


.accordion-button{
    padding: 0px !important;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: #448153 !important;
}

.accordion-button:hover{
    color: #8F6843 !important;
}

.accordion-button::after {
  margin-left: 0 !important;
  margin-right: 5px; 
}

.accordion-button:not(.collapsed) {
    background-color: white !important;
}