.sectionStyle{
    height: 100vh;
    background-image: url('/img/banner/slide4.png');
    background-position: center;
    background-size: cover;
}

.header_1{
    margin-left: 15%;
    font-weight: 700;
    color: #448153;
}

.itemStyle{
    font-weight: 700;
    font-size: 20px;
    color: #709C6B;
}