.hero {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background: url('/img/test2.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 8%;
  color: #448153;
}

/* content */
.content {
  position: relative;
  max-width: 600px;
  z-index: 1;
}

/* TITLE */
.content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.2;
}

/* PARAGRAPH */
.content p {
  font-size: 1.1rem;
  margin-bottom: 25px;
  color: #8F6843;
}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btnprimary {
  background: #709C6B;
  border: none;
  padding: 12px 24px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btnprimary:hover {
  background: #8F6843;
}

.btnoutline {
  background: transparent;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #709C6B;
  color: #709C6B;
}

.btnoutline:hover {
  background: #709C6B;
  color: white;
}

/* =========================
   MOBILE RESPONSIVE
========================= */
@media (max-width: 768px) {

  .hero {
    height: auto;
    min-height: 100vh;
    padding: 60px 20px;
    text-align: center;
    justify-content: center;
    background: none;
  }

  .content {
    max-width: 100%;
  }

  .content h1 {
    font-size: 1.8rem;
  }

  .content p {
    font-size: 1rem;
  }

  .buttons {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .btnprimary,
  .btnoutline {
    width: 100%;
    max-width: 250px;
  }
}