.customLine{
    position: relative;
    color: black;
    bottom: -30px;
}

.badgeCont{
    height: 30px;
}
.historyInfo{
    padding: 10px;
    border: 1px solid #d1d6dd;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(10, 0, 10, 0.5);
    height: 450px;
}


.historyCont :global(.swiper) {
    padding-bottom: 20px;
}

.missionVission{
    box-shadow: 0px 4px 10px rgba(10, 0, 10, 0.5);
    text-align: center;
    border-radius: 16px;
    padding: 20px;
    
}

.imgCont{
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 720px) {
    .whoIsPlacewell{
        padding: 15px;
    }
}




